---
import BaseLayout from "../../layouts/BaseLayout.astro";
import ServiceCards from "../../components/ServiceCards.astro";
---

<BaseLayout title="Services">
	<div id="pageTitle" class="">
		<div class="container">
			<h1>Services</h1>
			<div class="breadcrumbs">
				<div class="breadcrumb">
					<div class="breadcrumbs">
						<div class="breadcrumb"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="pageContent" class="content-area">
		<div id="primary" class="container">
			<div id="post-3787" class="post-3787 page type-page status-publish hentry">
				<!-- Block -->
				<div class="offset-sm">
					<div data-elementor-type="wp-page" data-elementor-id="3787" class="elementor elementor-3787">
						<section
							class="elementor-section elementor-top-section elementor-element elementor-element-afd3010 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
							data-id="afd3010"
							data-element_type="section"
						>
							<div class="elementor-container elementor-column-gap-default">
								<div
									class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-9fa7c53"
									data-id="9fa7c53"
									data-element_type="column"
								>
									<div class="elementor-widget-wrap elementor-element-populated">
										<div
											class="elementor-element elementor-element-ab078b6 elementor-widget elementor-widget-services"
											data-id="ab078b6"
											data-element_type="widget"
											data-widget_type="services.default"
										>
											<div class="elementor-widget-container">
												<ServiceCards />
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
	</div>
</BaseLayout>
