@font-face {
  font-family: 'auto';
  src:  url('fonts/auto.eot');
  src:  url('fonts/auto.eot') format('embedded-opentype'),
    url('fonts/auto.ttf') format('truetype'),
    url('fonts/auto.woff') format('woff'),
    url('fonts/auto.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

span.services-tabs-icon svg {
  width: 25px;
  height: 25px;
  max-width: 100%;
  max-height: 100%;
}

.scrtabs-tabs-fixed-container ul.nav-tabs > li svg {
  width: 40px;
  height: 40px;
  max-width: 100%;
  max-height: 100%;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'auto' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrowhead-pointing-to-the-right1:before {
  content: "\e93e";
}
.icon-92962:before {
  content: "\e93d";
}
.icon-wrench:before {
  content: "\e93c";
}
.icon-tuneup:before {
  content: "\e93b";
}
.icon-tow-truck:before {
  content: "\e93a";
}
.icon-diag:before {
  content: "\e939";
}
.icon-ok:before {
  content: "\e933";
}
.icon-info:before {
  content: "\e934";
}
.icon-raketa:before {
  content: "\e935";
}
.icon-wrech1:before {
  content: "\e936";
}
.icon-gear:before {
  content: "\e937";
}
.icon-122264:before {
  content: "\e938";
}
.icon-phone:before {
  content: "\e931";
}
.icon-email:before {
  content: "\e932";
}
.icon-arrowhead-pointing-to-the-right:before {
  content: "\e929";
}
.icon-exhaust-pipe:before {
  content: "\e92c";
}
.icon-engine:before {
  content: "\e92d";
}
.icon-gearshift:before {
  content: "\e92e";
}
.icon-shop-cart:before {
  content: "\e92f";
}
.icon-star:before {
  content: "\e900";
}
.icon-calendar:before {
  content: "\e901";
}
.icon-calendar-page:before {
  content: "\e902";
}
.icon-oil:before {
  content: "\e903";
}
.icon-balance:before {
  content: "\e904";
}
.icon-power:before {
  content: "\e905";
}
.icon-car-wheel:before {
  content: "\e906";
}
.icon-disc-brake:before {
  content: "\e907";
}
.icon-check:before {
  content: "\e908";
}
.icon-close-cross:before {
  content: "\e909";
}
.icon-clock:before {
  content: "\e90a";
}
.icon-locate:before {
  content: "\e90b";
}
.icon-favorite:before {
  content: "\e90c";
}
.icon-interface:before {
  content: "\e90d";
}
.icon-lines-menu:before {
  content: "\e90e";
}
.icon-search:before {
  content: "\e90f";
}
.icon-rocket:before {
  content: "\e910";
}
.icon-people-1:before {
  content: "\e911";
}
.icon-people:before {
  content: "\e912";
}
.icon-transport:before {
  content: "\e913";
}
.icon-people-2:before {
  content: "\e914";
}
.icon-people-3:before {
  content: "\e915";
}
.icon-settings:before {
  content: "\e916";
}
.icon-shape:before {
  content: "\e917";
}
.icon-squares:before {
  content: "\e918";
}
.icon-technology:before {
  content: "\e919";
}
.icon-tool:before {
  content: "\e91a";
}
.icon-diploma:before {
  content: "\e91b";
}
.icon-transport-1:before {
  content: "\e91c";
}
.icon-mark:before {
  content: "\e91d";
}
.icon-web-settings:before {
  content: "\e91e";
}
.icon-arrow-left:before {
  content: "\e91f";
}
.icon-arrow-right:before {
  content: "\e920";
}
.icon-arrows-2:before {
  content: "\e921";
}
.icon-behance-logo:before {
  content: "\e922";
}
.icon-facebook-logo:before {
  content: "\e923";
}
.icon-google-plus-logo:before {
  content: "\e924";
}
.icon-instagram-logo:before {
  content: "\e925";
}
.icon-linkedin-logo:before {
  content: "\e926";
}
.icon-tumblr-logo:before {
  content: "\e927";
}
.icon-twitter-logo:before {
  content: "\e928";
}
.icon-8800:before {
  content: "\e940";
}
.icon-59439:before {
  content: "\e941";
}
.icon-109720:before {
  content: "\e943";
}
.icon-259477:before {
  content: "\e945";
}
.icon-271045:before {
  content: "\e948";
}
.icon-452814:before {
  content: "\e93f";
}
.icon-598823:before {
  content: "\e947";
}
.icon-733614:before {
  content: "\e942";
}
.icon-808728:before {
  content: "\e946";
}
.icon-1:before {
  content: "\e944";
}
.icon-mobile_menu:before {
  content: "\e94c";
}
.icon-612844:before {
  content: "\e964";
}
.icon-close:before {
  content: "\e930";
}
.icon-arrow_up:before {
  content: "\e92a";
}
.icon-arrow_down:before {
  content: "\e92b";
}
