---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About Us">
	<div id="pageTitle" class="">
		<div class="container">
			<!-- //Breadcrumbs Block -->
			<h1>About Us</h1>
			<!-- Breadcrumbs Block -->
			<div class="breadcrumbs">
				<div class="breadcrumb">
					<div class="breadcrumbs">
						<div class="breadcrumb"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="pageContent" class="content-area">
		<div id="primary" class="container">
			<div
				id="post-1520"
				class="post-1520 page type-page status-publish hentry"
			>
				<!-- Block -->
				<div class="offset-sm">
					<div
						data-elementor-type="wp-page"
						data-elementor-id="1520"
						class="elementor elementor-1520"
					>
						<section
							class="elementor-section elementor-top-section elementor-element elementor-element-cef3218 elementor-section-stretched elementor-section-full_width elementor-section-height-default elementor-section-height-default"
							data-id="cef3218"
							data-element_type="section"
							data-settings='{"stretch_section":"section-stretched"}'
						>
							<div
								class="elementor-container elementor-column-gap-no"
							>
								<div
									class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-45c630c"
									data-id="45c630c"
									data-element_type="column"
								>
									<div
										class="elementor-widget-wrap elementor-element-populated"
									>
										<div
											class="elementor-element elementor-element-349161e elementor-widget elementor-widget-about_us_1"
											data-id="349161e"
											data-element_type="widget"
											data-widget_type="about_us_1.default"
										>
											<div
												class="elementor-widget-container"
											>
												<div class="block">
													<div
														class="container no-indent"
													>
														<div
															class="wrapper-parallax-left02"
														>
															<div
																class="col-img"
															>
																<img
																	fetchpriority="high"
																	decoding="async"
																	width="615"
																	height="501"
																	src="../../wp-content/uploads/2020/03/img-parallax02-img01.png"
																	class="attachment-full size-full"
																	alt=""
																	srcset="../../wp-content/uploads/2020/03/img-parallax02-img01.png 615w, ../../wp-content/uploads/2020/03/img-parallax02-img01-600x489.png 600w, ../../wp-content/uploads/2020/03/img-parallax02-img01-300x244.png 300w, ../../wp-content/uploads/2020/03/img-parallax02-img01-603x491.png 603w"
																	sizes="(max-width: 615px) 100vw, 615px"
																/>
															</div>
															<div
																class="col-description"
															>
																<div
																	class="block-title text-left"
																>
																	<h3
																		class="block-title__title"
																	>
																		<span
																			class="color"
																			>A
																			Reputation</span
																		> Years in
																		the Making
																	</h3>
																	<div
																		class="title-separator"
																	>
																	</div>
																</div>
																<p>
																	My Mechanic
																	was founded
																	in 2008 as a
																	part time
																	gig with one
																	goal. Bring
																	a level of
																	customer
																	service to
																	the
																	automotive
																	industry
																	which it was
																	no longer
																	giving
																	enough
																	priority to.
																	Over the
																	next 4 years
																	My Mechanic
																	slowly grew
																	until it was
																	made clear
																	by our
																	customers
																	that it was
																	time to take
																	the next
																	step. In
																	2012 my
																	mechanic
																	opened to
																	the public,
																	becoming the
																	customer
																	service
																	driven shop
																	you see
																	today.
																</p><p>
																	We stay that
																	way with our
																	commitment
																	to our
																	customers,
																	our staff,
																	and vendors
																	by adhering
																	to 3 main
																	principles.
																	HONESTY,
																	INTEGRITY
																	and
																	TRANSPARENCY.
																</p><p>
																	Today we are
																	a working
																	family of 9
																	automotive
																	professionals,
																	1 blue
																	healer named
																	Zoey. and a
																	self adopted
																	chicken
																	named
																	Agness. We
																	are your
																	hometown
																	auto shop
																	and your
																	alternative
																	to the big
																	box stores
																	or the
																	dealers who
																	don’t know
																	your name,
																	your car or
																	most
																	importantly
																	you.
																</p><p>
																	So if you’re
																	looking for
																	old
																	fashioned
																	service that
																	you and your
																	family
																	deserve then
																	you will
																	find it at
																	My Mechanic.
																</p>
															</div>
														</div>
														<div class="divider-md">
														</div>
														<div class="row">
															<div
																class="col-md-4"
															>
																<h6
																	class="subtitle"
																>
																	Mission
																	Statement
																</h6>
																<strong
																	>Our mission
																	is to
																	provide a
																	safe and
																	consistent
																	environment
																	for our
																	clients and
																	employees
																	while
																	driving
																	forward the
																	positive
																	perceptions
																	about
																	automotive
																	repair
																	through
																	honesty,
																	integrity,
																	advanced
																	customer
																	service and
																	leading-edge
																	technology.</strong
																>
															</div>
															<div
																class="divider-md hidden-lg hidden-md"
															>
															</div>
															<div
																class="col-md-4"
															>
																<h6
																	class="subtitle"
																>
																	Core Values
																</h6>
																<ul
																	class="marker-list-sm"
																>
																	<li>
																		Smile
																		&amp;
																		Wave,
																		Cute and
																		Cuddly -
																		Every
																		Interaction
																		has to
																		the
																		potential
																		to be a
																		positive
																		one
																	</li><li>
																		Honesty
																		and
																		Integrity
																		- Every
																		Team
																		member
																		is
																		available
																		to talk
																		to
																		customers
																		about
																		what we
																		do.
																	</li><li>
																		The
																		Little
																		Stuff is
																		Big -
																		Don't
																		forget
																		the
																		little
																		things
																		and do
																		the
																		little
																		things
																		well.
																	</li><li>
																		Be
																		Helpful
																		- We may
																		not
																		always
																		be able
																		to do
																		what is
																		asked
																		but we
																		can
																		always
																		try to
																		be
																		helpful
																		in some
																		way.
																	</li>
																</ul>
															</div>
															<div
																class="divider-md hidden-lg hidden-md"
															>
															</div>
															<div
																class="col-md-4"
															>
																<h6
																	class="subtitle"
																>
																	Our Vision
																</h6>
																<strong
																	>Our vision
																	is to
																	provide a
																	level of
																	customer
																	service and
																	repair that
																	consistently
																	exceeds our
																	customers
																	expectations.</strong
																>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
						<section
							class="elementor-section elementor-top-section elementor-element elementor-element-f5a0648 elementor-section-stretched elementor-section-full_width elementor-section-height-default elementor-section-height-default"
							data-id="f5a0648"
							data-element_type="section"
							data-settings='{"stretch_section":"section-stretched"}'
						>
							<div
								class="elementor-container elementor-column-gap-no"
							>
								<div
									class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-992ef6c"
									data-id="992ef6c"
									data-element_type="column"
								>
									<div
										class="elementor-widget-wrap elementor-element-populated"
									>
										<div
											class="elementor-element elementor-element-983111a elementor-widget elementor-widget-advantages_our_services"
											data-id="983111a"
											data-element_type="widget"
											data-widget_type="advantages_our_services.default"
										>
											<div
												class="elementor-widget-container"
											>
												<div
													class="block position-relative overflow-hidden"
												>
													<div
														class="container-fluid no-gutters"
													>
														<div
															class="services-item-wrapper"
														>
															<div
																class="section__text-background text-color03 text-center"
															>
																Advantages
															</div>
															<div
																class="services-item"
															>
																<div
																	class="services-title"
																>
																	<h2
																		class="services-title__title"
																	>
																		Advantages
																		<br /> of
																		<span
																			class="color"
																			>Our
																			Service</span>
																	</h2>
																	<div
																		class="title-separator"
																	>
																	</div>
																</div>
																<p>
																	Servicing
																	your car is
																	an essential
																	task that
																	should not
																	be ignored
																	or
																	forgotten.
																</p>
																<a
																	href="/contacts/"
																	class="btn btn-border btn-top"
																	><span
																		>Contact
																		us
																	</span></a
																>
															</div>

															<div
																class="services-item services-bg-01"
															>
																<div
																	class="services-box"
																>
																	<div
																		class="services-box__icon"
																	>
																		<span
																			class="icon-271045"
																		></span>
																	</div>
																	<h6
																		class="services-box__title"
																	>
																		Customer-Oriented
																		Service
																	</h6>
																	<p>
																		Customer
																		service
																		and
																		repair
																		that
																		consistently
																		exceeds
																		our
																		customers
																		expectation's
																	</p>
																</div>
															</div>

															<div
																class="services-item services-bg-02"
															>
																<div
																	class="services-box"
																>
																	<div
																		class="services-box__icon"
																	>
																		<span
																			class="icon-808728"
																		></span>
																	</div>
																	<h6
																		class="services-box__title"
																	>
																		Financing
																		Available
																	</h6>
																	<p>
																		We offer
																		multiple
																		financing
																		options
																		to help
																		make
																		your
																		experience
																		as
																		seemless
																		as
																		possible.
																		Please
																		contact
																		us today
																		for more
																		information.
																	</p>
																</div>
															</div>

															<div
																class="services-item services-bg-03"
															>
																<div
																	class="services-box"
																>
																	<div
																		class="services-box__icon"
																	>
																		<span
																			class="icon-598823"
																		></span>
																	</div>
																	<h6
																		class="services-box__title"
																	>
																		High-Quality
																		Car
																		Parts
																	</h6>
																	<p>
																		We
																		understand
																		being
																		down a
																		vehicle
																		can be
																		difficult,
																		and why
																		once its
																		back on
																		the road
																		it needs
																		to stay
																		there.
																		This is
																		why we
																		offer
																		high
																		quality
																		parts.
																	</p>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
						<section
							class="elementor-section elementor-top-section elementor-element elementor-element-334dec0 elementor-section-stretched elementor-section-full_width elementor-section-height-default elementor-section-height-default"
							data-id="334dec0"
							data-element_type="section"
							data-settings='{"stretch_section":"section-stretched"}'
						>
							<div
								class="elementor-container elementor-column-gap-no"
							>
								<div
									class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-5d1a577"
									data-id="5d1a577"
									data-element_type="column"
								>
									<div
										class="elementor-widget-wrap elementor-element-populated"
									>
										<div
											class="elementor-element elementor-element-a37abd9 elementor-widget elementor-widget-appointment_schedule"
											data-id="a37abd9"
											data-element_type="widget"
											data-widget_type="appointment_schedule.default"
										>
											<div
												class="elementor-widget-container"
											>
												<div
													class="block position-relative overflow-hidden"
												>
													<div
														class="section__text-background text-color02 text-center text-background__center"
													>
														Schedule
													</div>
													<div class="text-center">
														<h2 class="h-lg">
															Need Help With Your
															Car? <span
																class="color"
																>Give us a call
																today!</span>
														</h2>
														<p class="info">
															We are here for you
															when you need us.
															Give us a call today
															or schedule an
															appointment.
														</p>
														<h2 class="h-phone">
															1-520-904-8551
														</h2>
														<div class="btn-inline">
															<a
																class="btn btn-border btn-invert btn-wide"
																href="#"
																data-toggle="modal"
																data-target="#appointmentForm"
																><span
																	>Appointment</span
																></a
															>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
					</div>
				</div>
				<!-- //Block -->
			</div>
		</div><!-- #primary -->
	</div><!-- #pageContent -->
	<!-- Footer -->
</BaseLayout>
