---
import BaseLayout from "../layouts/BaseLayout.astro";
import ContactForm from "../components/ContactForm.astro";
---

<BaseLayout title="Contact">
	<div id="pageTitle" class="">
		<div class="container">
			<!-- //Breadcrumbs Block -->
			<h1>Contact Us</h1>
			<!-- Breadcrumbs Block -->
			<div class="breadcrumbs">
				<div class="breadcrumb">
					<div class="breadcrumbs">
						<div class="breadcrumb"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="pageContent" class="content-area">
		<div id="primary" class="container">
			<div
				id="post-48"
				class="post-48 page type-page status-publish hentry"
			>
				<!-- Block -->
				<div class="offset-sm">
					<div
						data-elementor-type="wp-page"
						data-elementor-id="48"
						class="elementor elementor-48"
					>
						<section
							class="elementor-section elementor-top-section elementor-element elementor-element-6fc64d4 elementor-section-stretched elementor-section-full_width elementor-section-height-default elementor-section-height-default"
							data-id="6fc64d4"
							data-element_type="section"
							data-settings='{"stretch_section":"section-stretched"}'
						>
							<div
								class="elementor-container elementor-column-gap-no"
							>
								<div
									class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-7273983"
									data-id="7273983"
									data-element_type="column"
								>
									<div
										class="elementor-widget-wrap elementor-element-populated"
									>
										<div
											class="elementor-element elementor-element-a5e0919 elementor-widget elementor-widget-contact_widget"
											data-id="a5e0919"
											data-element_type="widget"
											data-widget_type="contact_widget.default"
										>
											<div
												class="elementor-widget-container"
											>
												<div class="section-bg01">
													<div class="block">
														<div
															class="container no-gutters"
														>
															<div class="row">
																<div
																	class="col-sm-5 col-md-4 col-sm-push-7 col-md-push-8"
																>
																	<div
																		class="info02-wrapper"
																	>
																		<div
																			class="info02"
																		>
																			<div
																				class="info02__icon"
																			>
																				<span
																					class="fas fa-map-marker-alt"
																				>
																				</span>
																			</div>
																			<h6
																				class="info02__title"
																			>
																				Post
																				Address
																			</h6>
																			<address
																			>
																				<a
																					href="https://www.google.com/maps/dir//My+Mechanic+Maintenance+%26+Repair,+4039+N+Romero+Rd,+Tucson,+AZ+85705/@32.2805035,-111.0037826,17z/data=!4m8!4m7!1m0!1m5!1m1!1s0x86d6740a5b071221:0x9acb57e03992ff56!2m2!1d-111.0037826!2d32.2805035"
																					target="_blank"
																					>4039
																					N
																					Romero
																					Rd,<br
																					/>Tucson,
																					AZ
																					85705</a
																				>
																			</address>
																		</div>
																		<div
																			class="info02"
																		>
																			<div
																				class="info02__icon"
																			>
																				<span
																					class="icon-phone"
																				>
																				</span>
																			</div>
																			<h6
																				class="info02__title"
																			>
																				Contact
																				Phone
																			</h6>
																			<address
																			>
																				<a
																					href="tel:1-520-904-8551"
																					>1-520-904-8551</a
																				>
																			</address>
																		</div>
																		<div
																			class="info02"
																		>
																			<div
																				class="info02__icon"
																			>
																				<span
																					class="icon-email"
																				>
																				</span>
																			</div>
																			<h6
																				class="info02__title"
																			>
																				E-mail
																				Address
																			</h6>
																			<address
																			>
																				<a
																					href="mailto:support@mymechanicarizona.com"
																					><span
																						class="__cf_email__"
																						data-cfemail="10636560607f6264507d697d757378717e79737162796a7f7e713e737f7d"
																						>support@mymechanicarizona.com</span
																					></a
																				>
																			</address>
																		</div>
																		<div
																			class="info02"
																		>
																			<div
																				class="info02__icon"
																			>
																				<span
																					class="icon-clock"
																				>
																				</span>
																			</div>
																			<h6
																				class="info02__title"
																			>
																				Opening
																				Hours
																			</h6>
																			<address
																			>
																				Mon-Fri:
																				8:00
																				AM
																				-
																				5:00
																				PM<br
																				/>Saturday
																				and
																				Sunday:
																				Closed
																			</address>
																		</div>
																	</div>
																</div>
																<div
																	class="divider-lg hidden-lg hidden-md hidden-sm"
																>
																</div>
																<div
																	class="col-sm-7 col-md-8 col-sm-pull-5 col-md-pull-4"
																>
																	<div
																		class="box-wrapper"
																	>
																		<div
																			class="block-title text-left"
																		>
																			<h2
																				class="block-title__title"
																			>
																				Get
																				In
																				Touch!
																			</h2>
																			<div
																				class="block-title__description"
																			>
																				Have
																				a
																				Question
																				just
																				ask
																				or
																				book
																				an
																				appointment
																			</div>
																			<div
																				class="title-separator"
																			>
																			</div>
																		</div>
																		<ContactForm />
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
					</div>
				</div>
				<!-- //Block -->
			</div>
		</div><!-- #primary -->
	</div><!-- #pageContent -->
	<!-- Footer -->
</BaseLayout>
