---
import BaseLayout from "../layouts/BaseLayout.astro";
import CustomerInformationForm from "../components/CustomerInformationForm.astro";
---

<BaseLayout title="Customer Information Form">
	<div id="pageTitle" class="">
		<div class="container">
			<!-- //Breadcrumbs Block -->
			<h1>Customer Information Form</h1>
			<!-- Breadcrumbs Block -->
			<div class="breadcrumbs">
				<div class="breadcrumb">
					<div class="breadcrumbs">
						<div class="breadcrumb"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="pageContent" class="content-area">
		<div id="primary" class="container">
			<div
				id="post-3531"
				class="post-3531 page type-page status-publish hentry"
			>
				<!-- Block -->
				<div class="offset-sm">
					<div
						data-elementor-type="wp-page"
						data-elementor-id="3531"
						class="elementor elementor-3531"
					>
						<section
							class="elementor-section elementor-top-section elementor-element elementor-element-9a8bcad elementor-section-boxed elementor-section-height-default elementor-section-height-default"
							data-id="9a8bcad"
							data-element_type="section"
						>
							<div
								class="elementor-container elementor-column-gap-default"
							>
								<div
									class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-0ca37a9"
									data-id="0ca37a9"
									data-element_type="column"
								>
									<div
										class="elementor-widget-wrap elementor-element-populated"
									>
										<div
											class="elementor-element elementor-element-dd35384 elementor-widget elementor-widget-formidable"
											data-id="dd35384"
											data-element_type="widget"
											data-widget_type="formidable.default"
										>
											<div
												class="elementor-widget-container"
											>
											<CustomerInformationForm />
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
					</div>
				</div>
				<!-- //Block -->
			</div>
		</div><!-- #primary -->
	</div><!-- #pageContent -->
	<!-- Footer -->
</BaseLayout>
