---
import BaseLayout from "../layouts/BaseLayout.astro";
import ServiceQuestionForm from "../components/ServiceQuestionForm.astro";
---

<BaseLayout title="FAQ">
	<div id="pageTitle" class="">
		<div class="container">
			<!-- //Breadcrumbs Block -->
			<h1>FAQ</h1>
			<!-- Breadcrumbs Block -->
			<div class="breadcrumbs">
				<div class="breadcrumb">
					<div class="breadcrumbs">
						<div class="breadcrumb"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="pageContent" class="content-area">
		<div id="primary" class="container">
			<div
				id="post-225"
				class="post-225 page type-page status-publish hentry"
			>
				<!-- Block -->
				<div class="offset-sm">
					<div
						data-elementor-type="wp-page"
						data-elementor-id="225"
						class="elementor elementor-225"
					>
						<section
							class="elementor-section elementor-top-section elementor-element elementor-element-2e3b5b4 block elementor-section-boxed elementor-section-height-default elementor-section-height-default"
							data-id="2e3b5b4"
							data-element_type="section"
						>
							<div
								class="elementor-container elementor-column-gap-no"
							>
								<div
									class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-44ec156"
									data-id="44ec156"
									data-element_type="column"
								>
									<div
										class="elementor-widget-wrap elementor-element-populated"
									>
										<div
											class="elementor-element elementor-element-ac62eb9 elementor-widget elementor-widget-crs_accordian"
											data-id="ac62eb9"
											data-element_type="widget"
											data-widget_type="crs_accordian.default"
										>
											<div
												class="elementor-widget-container"
											>
												<div class="faq-accordion">
													<div class="faq__item">
														<div class="faq__title">
															How long will it
															take to complete the
															repairs<div
																class="icon"
															>
															</div>
														</div>
														<div
															class="faq__content"
														>
															We try to complete
															most repairs the
															same day. If this is
															not possible, we
															will provide you
															with special
															transportation
															arrangements.
														</div>
													</div>
													<div class="faq__item">
														<div class="faq__title">
															Do you offer
															warranties for your
															work<div
																class="icon"
															>
															</div>
														</div>
														<div
															class="faq__content"
														>
															<p>
																Yes, we offer a
																36 month or
																36000 mile
																nationwide
																warranty through
																Technet.
															</p>
														</div>
													</div>
													<div class="faq__item">
														<div class="faq__title">
															My car is running
															rough. Do I need a
															tune-up<div
																class="icon"
															>
															</div>
														</div>
														<div
															class="faq__content"
														>
															<div>
																<div>
																	A car
																	running
																	rough can be
																	caused by
																	several
																	factors such
																	as a vacuum
																	leak, bad
																	fuel
																	injectors,
																	EGR valves,
																	low
																	compression,
																	or misfires
																	from a bad
																	spark plug
																	or coil. A
																	tune-up can
																	help improve
																	your car’s
																	performance
																	and fuel
																	efficiency
																	by replacing
																	worn-out
																	parts such
																	as spark
																	plugs, air
																	filters, and
																	fuel
																	filters.
																	However, it
																	may not
																	always be
																	necessary to
																	get a
																	tune-up if
																	your car is
																	running
																	rough.
																</div>
															</div>
														</div>
													</div>
													<div class="faq__item">
														<div class="faq__title">
															Are you a green shop<div
																class="icon"
															>
															</div>
														</div>
														<div
															class="faq__content"
														>
															<p>
																Yes, My Mechanic
																is dedicated to
																following green
																practices and
																protecting our
																planet. Tucson
																is a beautiful
																place to live
																in, and we want
																to protect our
																lovely
																landscapes. To
																do this, we are
																committed to
																going green.
																What does this
																mean? During the
																car repair and
																auto service
																process, we will
																recycle all used
																oils, used
																coolant, scrap
																metal, and even
																tires. We also
																have converted
																all lighting to
																energy-efficient
																fluorescent
																fixtures, and
																are a fully
																digital shop.
															</p>
														</div>
													</div>
													<div class="faq__item">
														<div class="faq__title">
															Do I need an
															appointment for a
															repair<div
																class="icon"
															>
															</div>
														</div>
														<div
															class="faq__content"
														>
															<p>
																No appointments
																are not
																necessary, but
																are recommended.
															</p>
														</div>
													</div>
													<div class="faq__item">
														<div class="faq__title">
															What forms of
															payment do you take<div
																class="icon"
															>
															</div>
														</div>
														<div
															class="faq__content"
														>
															<p>
																Cash, Credit
																Cards and we
																also offer
																financing
																options.
															</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div
									class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-643ddda"
									data-id="643ddda"
									data-element_type="column"
								>
									<div
										class="elementor-widget-wrap elementor-element-populated"
									>
										<div
											class="elementor-element elementor-element-21a7ba4 elementor-widget elementor-widget-crs_accordian"
											data-id="21a7ba4"
											data-element_type="widget"
											data-widget_type="crs_accordian.default"
										>
											<div
												class="elementor-widget-container"
											>
												<div class="faq-accordion">
													<div class="faq__item">
														<div class="faq__title">
															Why does my car need
															maintenance if
															it&#039;s running
															fine<div
																class="icon"
															>
															</div>
														</div>
														<div
															class="faq__content"
														>
															Regular maintenance
															of your vehicle
															protects your
															investment, helps to
															prevent breakdowns,
															and will save you on
															the cost of repairs
															in the future.
														</div>
													</div>
													<div class="faq__item">
														<div class="faq__title">
															What will happen if
															I don&#039;t have
															the repairs done
															right now<div
																class="icon"
															>
															</div>
														</div>
														<div
															class="faq__content"
														>
															<div>
																<div>
																	The
																	consequences
																	of not
																	repairing
																	your car
																	depend on
																	the type of
																	repair
																	needed and
																	the severity
																	of the
																	problem. If
																	you don't
																	fix your
																	car, it
																	could lead
																	to more
																	serious
																	problems
																	down the
																	road
																</div>
															</div>
														</div>
													</div>
													<div class="faq__item">
														<div class="faq__title">
															What Should I Do
															When My Check Engine
															Lights Come On<div
																class="icon"
															>
															</div>
														</div>
														<div
															class="faq__content"
														>
															<p>
																There are many
																sensors and
																computerized
																components that
																manage your
																vehicle’s engine
																performance and
																emissions. When
																one of these
																fails, the
																“check engine”
																light is
																illuminated.
																Although your
																car may seem to
																run fine, it is
																important to
																have the issue
																addressed to
																prevent
																long-term
																problems or
																failure of
																emission tests.
															</p>
														</div>
													</div>
													<div class="faq__item">
														<div class="faq__title">
															How Often Should I
															Have My Brakes
															Checked<div
																class="icon"
															>
															</div>
														</div>
														<div
															class="faq__content"
														>
															<div>
																<div>
																	As a good
																	rule of
																	thumb, you
																	should aim
																	to get your
																	brakes
																	inspected
																	every six
																	months.
																	However, how
																	often you
																	should have
																	your brakes
																	checked will
																	depend on a
																	few factors,
																	including
																	how often
																	you use your
																	car, the
																	type of
																	driving you
																	do, and the
																	condition of
																	your brakes.
																	The general
																	rule of
																	thumb is to
																	have your
																	brakes
																	checked
																	every 12,000
																	miles or so.
																	If you
																	cannot
																	recall the
																	last time a
																	professional
																	examined
																	your braking
																	system, you
																	should
																	arrange an
																	appointment
																	as soon as
																	possible.
																	While there
																	isn’t a hard
																	and fast
																	rule for the
																	proper
																	interval
																	between
																	brake
																	services,
																	most
																	professionals
																	recommend
																	you get
																	yours
																	inspected
																	regularly
																	(annually,
																	if possible)
																	or when you
																	get your
																	tires
																	rotated
																	(every 5,000
																	miles).
																</div>
															</div>
														</div>
													</div>
													<div class="faq__item">
														<div class="faq__title">
															What should I do if
															my car starts to
															overheat<div
																class="icon"
															>
															</div>
														</div>
														<div
															class="faq__content"
														>
															<p>
																This is a very
																serious problem
																– if your car
																overheats for
																too long, you
																can damage your
																engine. As soon
																as possible,
																find a safe
																place to pull
																off the road and
																shut off the
																engine! Do not
																attempt to check
																the fluid level
																in the radiator
																as it can burn
																you. The best
																thing to do is
																have your car
																towed to a
																repair shop.
															</p>
														</div>
													</div>
													<div class="faq__item">
														<div class="faq__title">
															Does my car battery
															have a good
															electrical
															connection<div
																class="icon"
															>
															</div>
														</div>
														<div
															class="faq__content"
														>
															<p>
																Battery cables
																and terminals
																should be
																cleaned and
																inspected to
																make sure they
																provide a good
																electrical
																connection.
															</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
						<section
							class="elementor-section elementor-top-section elementor-element elementor-element-59f9664 elementor-section-stretched elementor-section-full_width elementor-section-height-default elementor-section-height-default"
							data-id="59f9664"
							data-element_type="section"
							data-settings='{"stretch_section":"section-stretched"}'
						>
							<div
								class="elementor-container elementor-column-gap-default"
							>
								<div
									class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-1e922ba"
									data-id="1e922ba"
									data-element_type="column"
								>
									<div
										class="elementor-widget-wrap elementor-element-populated"
									>
										<div
											class="elementor-element elementor-element-c6be1ed elementor-widget elementor-widget-question_Form"
											data-id="c6be1ed"
											data-element_type="widget"
											data-widget_type="question_Form.default"
										>
											<div
												class="elementor-widget-container"
											>
												<div class="block">
													<div class="container">
														<div
															class="block-title"
														>
															<h2
																class="block-title__title"
															>
																Have a Car
																Repair Question?
															</h2>
															<div
																class="block-title__description"
															>
																Get your
																automotive-related
																questions
																answered by a
																mechanic
															</div>
															<div
																class="title-separator"
															>
															</div>
														</div>
														<div
															class="custom-width-01"
														>
														<ServiceQuestionForm />
														</div>
													</div>
												</div>
												<!-- Recalls Block -->
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
					</div>
				</div>
				<!-- //Block -->
			</div>
		</div><!-- #primary -->
	</div><!-- #pageContent -->
	<!-- Footer -->
</BaseLayout>
