---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Financing">
	<div id="pageTitle" class="">
		<div class="container">
			<!-- //Breadcrumbs Block -->
			<h1>Financing</h1>
			<!-- Breadcrumbs Block -->
			<div class="breadcrumbs">
				<div class="breadcrumb">
					<div class="breadcrumbs">
						<div class="breadcrumb"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="pageContent" class="content-area">
		<div id="primary" class="container">
			<div
				id="post-2864"
				class="post-2864 page type-page status-publish hentry"
			>
				<!-- Block -->
				<div class="offset-sm">
					<div
						data-elementor-type="wp-page"
						data-elementor-id="2864"
						class="elementor elementor-2864"
					>
						<section
							class="elementor-section elementor-top-section elementor-element elementor-element-ec4ad31 elementor-section-full_width elementor-section-stretched elementor-section-height-default elementor-section-height-default"
							data-id="ec4ad31"
							data-element_type="section"
							data-settings='{"stretch_section":"section-stretched"}'
						>
							<div
								class="elementor-container elementor-column-gap-no"
							>
								<div
									class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-24cb366"
									data-id="24cb366"
									data-element_type="column"
								>
									<div
										class="elementor-widget-wrap elementor-element-populated"
									>
										<section
											class="elementor-section elementor-inner-section elementor-element elementor-element-733e14c elementor-section-boxed elementor-section-height-default elementor-section-height-default"
											data-id="733e14c"
											data-element_type="section"
										>
											<div
												class="elementor-container elementor-column-gap-default"
											>
												<div
													class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-afe2755"
													data-id="afe2755"
													data-element_type="column"
												>
													<div
														class="elementor-widget-wrap elementor-element-populated"
													>
														<div
															class="elementor-element elementor-element-efa0da8 elementor-widget elementor-widget-html"
															data-id="efa0da8"
															data-element_type="widget"
															data-widget_type="html.default"
														>
															<div
																class="elementor-widget-container"
															>
																<a
																	href="https://snapf.in/FPi12Sx"
																	target="_blank"
																	rel="noopener noreferrer"
																	><img
																		decoding="async"
																		src="https://merchant-banners-s3.snapfinance.com/Loans/EN/A1280x158.jpeg"
																		alt="Snap Finance - Apply Here"
																		style="box-shadow:4px 2px 6px #010101; border: none"
																	/></a
																>
															</div>
														</div>
													</div>
												</div>
											</div>
										</section>
									</div>
								</div>
							</div>
						</section>
						<section
							class="elementor-section elementor-top-section elementor-element elementor-element-708aafa elementor-section-boxed elementor-section-height-default elementor-section-height-default"
							data-id="708aafa"
							data-element_type="section"
						>
							<div
								class="elementor-container elementor-column-gap-default"
							>
								<div
									class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-c74b286"
									data-id="c74b286"
									data-element_type="column"
								>
									<div
										class="elementor-widget-wrap elementor-element-populated"
									>
										<div
											class="elementor-element elementor-element-dfb2cc1 elementor-widget elementor-widget-html"
											data-id="dfb2cc1"
											data-element_type="widget"
											data-widget_type="html.default"
										>
											<div
												class="elementor-widget-container"
											>
												<a
													href="https://www.mysynchrony.com/mmc/CQ225599700"
													target="_blank"
													rel="noopener noreferrer"
													><img
														decoding="async"
														src="../../wp-content/uploads/2023/06/Synchrony-TechNet-PreQual-1280x350-f0d76e210e2345105bc7f1c146cfbc41432aff4c637a85027102dc31d08e133b.jpg"
														alt="Synchrony Technet Finance - Apply Here"
														style="box-shadow:4px 2px 6px #010101; border: none"
													/></a
												>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
						<section
							class="elementor-section elementor-top-section elementor-element elementor-element-9a1465b elementor-section-stretched elementor-section-full_width elementor-section-height-default elementor-section-height-default"
							data-id="9a1465b"
							data-element_type="section"
							data-settings='{"stretch_section":"section-stretched"}'
						>
							<div
								class="elementor-container elementor-column-gap-no"
							>
								<div
									class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-7f86804"
									data-id="7f86804"
									data-element_type="column"
								>
									<div
										class="elementor-widget-wrap elementor-element-populated"
									>
										<div
											class="elementor-element elementor-element-b2d2ace elementor-widget elementor-widget-appointment_schedule"
											data-id="b2d2ace"
											data-element_type="widget"
											data-widget_type="appointment_schedule.default"
										>
											<div
												class="elementor-widget-container"
											>
												<div
													class="block position-relative overflow-hidden"
												>
													<div
														class="section__text-background text-color02 text-center text-background__center"
													>
														Schedule
													</div>
													<div class="text-center">
														<h2 class="h-lg">
															Schedule <span
																class="color"
																>Your
																Appointment</span
															> Today
														</h2>
														<p class="info">
															Your Automotive
															Repair &amp;
															Maintenance Service
															Specialist
														</p>
														<h2 class="h-phone">
															Call: 1-520-904-8551
														</h2>
														<div class="btn-inline">
															<a
																class="btn btn-border btn-invert btn-wide"
																href="#"
																data-toggle="modal"
																data-target="#appointmentForm"
																><span
																	>Appointment</span
																></a
															>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
					</div>
				</div>
				<!-- //Block -->
			</div>
		</div><!-- #primary -->
	</div><!-- #pageContent -->
	<!-- Footer -->
</BaseLayout>
