---
import BaseLayout from "../layouts/BaseLayout.astro";
import JoinOurTeamForm from "../components/JoinOurTeamForm.astro";
---

<BaseLayout title="Join Our Team">
	<div id="pageTitle" class="">
		<div class="container">
			<!-- //Breadcrumbs Block -->
			<h1>Join our team</h1>
			<!-- Breadcrumbs Block -->
			<div class="breadcrumbs">
				<div class="breadcrumb">
					<div class="breadcrumbs">
						<div class="breadcrumb"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="pageContent" class="content-area">
		<div id="primary" class="container">
			<div
				id="post-393"
				class="post-393 page type-page status-publish hentry"
			>
				<!-- Block -->
				<div class="offset-sm">
					<div
						data-elementor-type="wp-page"
						data-elementor-id="393"
						class="elementor elementor-393"
					>
						<section
							class="elementor-section elementor-top-section elementor-element elementor-element-985705c elementor-section-full_width elementor-section-height-default elementor-section-height-default"
							data-id="985705c"
							data-element_type="section"
						>
							<div
								class="elementor-container elementor-column-gap-default"
							>
								<div
									class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-deb4fed"
									data-id="deb4fed"
									data-element_type="column"
								>
									<div
										class="elementor-widget-wrap elementor-element-populated"
									>
										<div
											class="elementor-element elementor-element-b009a53 elementor-widget elementor-widget-heading"
											data-id="b009a53"
											data-element_type="widget"
											data-widget_type="heading.default"
										>
											<div
												class="elementor-widget-container"
											>
												<h2
													class="elementor-heading-title elementor-size-default"
												>
													We are always looking for
													good people!
												</h2>
											</div>
										</div>
										<div
											class="elementor-element elementor-element-ced0ace elementor-widget elementor-widget-wp-widget-text"
											data-id="ced0ace"
											data-element_type="widget"
											data-widget_type="wp-widget-text.default"
										>
											<div
												class="elementor-widget-container"
											>
												<div class="textwidget">
													<p>
														If you&#8217;re sick of working weird hours and weekends, or just looking for more opportunities, this could be the shop for you. We strive for a personable, non-intimidating environment for not only customers, but employees as well. Putting life and family before work is always important to us. This is a busy shop, working on most makes and models. To help us keep up with the ever changing automotive industry, continuing education is always paid for and encouraged, for all employees.
													</p>
													<h4>About the job:</h4>
													<ul>
														<li>
															Full time positions
														</li>
														<li>
															Pay determined on
															experience and
															skills
														</li>
														<li>
															Certifications are
															preferred either
															from manufacturers,
															ASE, or other
															training
															institutions
														</li>
														<li>
															Willingness to learn
															and good team skills
															are a must!
														</li>
													</ul>
													<p></p>
												</div>
												<h4>What we offer:</h4>
												<ul>
													<li>
														GREAT PAY! We pay well
														to keep good people!!
													</li>
													<li>
														5 days a week,
														8am-5:00pm
													</li>
													<li>No weekends</li>
													<li>Paid Birthday off</li>
													<li>Personal days</li>
													<li>
														Paid training days and
														continuing education
													</li>
													<li>
														Well staffed with
														knowledgeable techs and
														service writers
													</li>
													<li>Uniforms provided</li>
													<li>
														Heated and well
														ventilated shop
													</li>
													<li>
														Clean, modern,
														professional facility
														with modern diagnostic
														equipment provided
													</li>
													<li>Family owned</li>
													<li>
														Opportunity for
														advancement and
														performance based pay
													</li>
													<li>
														Great online ratings and
														reviews
													</li>
													<li>
														Great reputation in the
														community
													</li>
													<li>
														Growing company
														expanding quickly
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
					</div>
					<section
						class="elementor-section elementor-top-section elementor-element elementor-element-e944e94 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
						data-id="e944e94"
						data-element_type="section"
					>
						<div
							class="elementor-container elementor-column-gap-default"
						>
							<div
								class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-c43f6c9"
								data-id="c43f6c9"
								data-element_type="column"
							>
								<div
									class="elementor-widget-wrap elementor-element-populated"
								>
									<div
										class="elementor-element elementor-element-2575e24 elementor-widget elementor-widget-question_Form"
										data-id="2575e24"
										data-element_type="widget"
										data-widget_type="question_Form.default"
									>
										<div class="elementor-widget-container">
											<div class="block">
												<div class="container">
													<div class="block-title">
														<h2
															class="block-title__title"
														>
															Apply Now
														</h2>
														<div
															class="block-title__description"
														>
															Please enter your
															information below.
															We look forward to
															hearing from you.
														</div>
														<div
															class="title-separator"
														>
														</div>
													</div>
													<div
														class="custom-width-01"
													>
													<JoinOurTeamForm />
													</div>
												</div>
											</div>
											<!-- Recalls Block -->
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
			<!-- //Block -->
		</div>
	</div><!-- #primary -->
</BaseLayout><!-- #pageContent -->
<!-- Footer -->
