---
import BaseLayout from "../layouts/BaseLayout.astro";
import ReviewsGrid from "../components/ReviewsGrid.astro";
---

<BaseLayout title="Reviews">
	<div id="pageTitle" class="">
		<div class="container">
			<!-- //Breadcrumbs Block -->
			<h1>Reviews</h1>
			<!-- Breadcrumbs Block -->
			<div class="breadcrumbs">
				<div class="breadcrumb">
					<div class="breadcrumbs">
						<div class="breadcrumb"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="pageContent" class="content-area">
		<div id="primary" class="container">
			<div
				id="post-814"
				class="post-814 page type-page status-publish hentry"
			>
				<!-- Block -->
				<div class="offset-sm">
					<div
						data-elementor-type="wp-page"
						data-elementor-id="814"
						class="elementor elementor-814"
					>
						<section
							class="elementor-section elementor-top-section elementor-element elementor-element-195ceb2 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default"
							data-id="195ceb2"
							data-element_type="section"
							data-settings='{"stretch_section":"section-stretched"}'
						>
							<div
								class="elementor-container elementor-column-gap-no"
							>
								<div
									class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-e3bb5c1"
									data-id="e3bb5c1"
									data-element_type="column"
								>
									<div
										class="elementor-widget-wrap elementor-element-populated"
									>
										<div
											class="elementor-element elementor-element-7cf0daf elementor-widget elementor-widget-shortcode"
											data-id="7cf0daf"
											data-element_type="widget"
											data-widget_type="shortcode.default"
										>
											<div
												class="elementor-widget-container"
											>
												
												<!-- <ReviewsGrid id="7916" /> -->
												 <ReviewsGrid />
											</div>
										</div>
										<!-- <div
											class="elementor-element elementor-element-3366808 elementor-widget elementor-widget-html"
											data-id="3366808"
											data-element_type="widget"
											data-widget_type="html.default"
										>
											<div
												class="elementor-widget-container"
											>
												<div
													class="btn-inline"
													style="text-align:center"
												>
													<a
														class="btn btn-border btn-invert btn-wide"
														href="https://g.page/r/CVb_kjngV8uaEBM/review"
														target="_blank"
														><span
															>Write a review</span
														></a
													>
												</div>
											</div>
										</div> -->
										<div
											class="elementor-element elementor-element-3c7a946 elementor-widget elementor-widget-spacer"
											data-id="3c7a946"
											data-element_type="widget"
											data-widget_type="spacer.default"
										>
											<div
												class="elementor-widget-container"
											>
												<div class="elementor-spacer">
													<div
														class="elementor-spacer-inner"
													>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
					</div>
				</div>
				<!-- //Block -->
			</div>
		</div><!-- #primary -->
	</div><!-- #pageContent -->
	<!-- Footer -->
</BaseLayout>
