---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About Us">
	<div id="pageTitle" class="">
		<div class="container">
			<!-- //Breadcrumbs Block -->
			<h1>Get free oil changes for life?</h1>
			<!-- Breadcrumbs Block -->
			<div class="breadcrumbs">
				<div class="breadcrumb">
					<div class="breadcrumbs">
						<div class="breadcrumb"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="pageContent" class="content-area">
		<div id="primary" class="container">
			<div
				id="post-3873"
				class="post-3873 page type-page status-publish hentry"
			>
				<!-- Block -->
				<div class="offset-sm">
					<div
						data-elementor-type="wp-page"
						data-elementor-id="3873"
						class="elementor elementor-3873"
					>
						<section
							class="elementor-section elementor-top-section elementor-element elementor-element-cc26464 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
							data-id="cc26464"
							data-element_type="section"
						>
							<div
								class="elementor-container elementor-column-gap-default"
							>
								<div
									class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-ddecbd0"
									data-id="ddecbd0"
									data-element_type="column"
								>
									<div
										class="elementor-widget-wrap elementor-element-populated"
									>
										<div
											class="elementor-element elementor-element-c80d871 elementor-widget elementor-widget-heading"
											data-id="c80d871"
											data-element_type="widget"
											data-widget_type="heading.default"
										>
											<div
												class="elementor-widget-container"
											>
												<h2
													class="elementor-heading-title elementor-size-default"
												>
													Learn About Our Free Oil
													Changes For Life
												</h2>
											</div>
										</div>
										<div
											class="elementor-element elementor-element-bfbef11 elementor-widget elementor-widget-text-editor"
											data-id="bfbef11"
											data-element_type="widget"
											data-widget_type="text-editor.default"
										>
											<div
												class="elementor-widget-container"
											>
												<p>
													Want Free Oil Changes for
													Life? At My Mechanic
													Arizona, we’re excited to
													offer you an exclusive
													opportunity to
													enjoy&nbsp;free oil changes
													for life. Our special
													program ensures that you’ll
													never have to worry about
													paying for oil changes
													again—just reliable,
													high-quality auto care for
													your vehicle in Tucson.
													Discover how easy it is to
													take advantage of this
													unbeatable offer today!
												</p>
											</div>
										</div>
										<div
											class="elementor-element elementor-element-57abf09 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
											data-id="57abf09"
											data-element_type="widget"
											data-widget_type="icon-list.default"
										>
											<div
												class="elementor-widget-container"
											>
												<ul
													class="elementor-icon-list-items"
												>
													<li
														class="elementor-icon-list-item"
													>
														<span
															class="elementor-icon-list-icon"
														>
															<i
																aria-hidden="true"
																class="fas fa-check"
															></i>
														</span>
														<span
															class="elementor-icon-list-text"
															>Never buy another
															oil change for the
															life of the vehicle</span
														>
													</li>
													<li
														class="elementor-icon-list-item"
													>
														<span
															class="elementor-icon-list-icon"
														>
															<i
																aria-hidden="true"
																class="fas fa-check"
															></i>
														</span>
														<span
															class="elementor-icon-list-text"
															>Free full-vehicle
															inspections &gt;
															keeping you safe on
															the road</span
														>
													</li>
													<li
														class="elementor-icon-list-item"
													>
														<span
															class="elementor-icon-list-icon"
														>
															<i
																aria-hidden="true"
																class="fas fa-check"
															></i>
														</span>
														<span
															class="elementor-icon-list-text"
															>Discounts &amp;
															incentives for
															family &amp; friend
															enrollment</span
														>
													</li>
												</ul>
											</div>
										</div>
										<div
											class="elementor-element elementor-element-978e411 elementor-widget elementor-widget-heading"
											data-id="978e411"
											data-element_type="widget"
											data-widget_type="heading.default"
										>
											<div
												class="elementor-widget-container"
											>
												<h3
													class="elementor-heading-title elementor-size-default"
												>
													Our Standard
												</h3>
											</div>
										</div>
										<div
											class="elementor-element elementor-element-2b5df89 elementor-widget elementor-widget-text-editor"
											data-id="2b5df89"
											data-element_type="widget"
											data-widget_type="text-editor.default"
										>
											<div
												class="elementor-widget-container"
											>
												To provide a level of customer
												service and repair that
												consistently exceeds our
												customers expectations.
											</div>
										</div>
										<div
											class="elementor-element elementor-element-4dcfcd0 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
											data-id="4dcfcd0"
											data-element_type="widget"
											data-widget_type="icon-list.default"
										>
											<div
												class="elementor-widget-container"
											>
												<ul
													class="elementor-icon-list-items"
												>
													<li
														class="elementor-icon-list-item"
													>
														<span
															class="elementor-icon-list-icon"
														>
															<i
																aria-hidden="true"
																class="fas fa-check"
															></i>
														</span>
														<span
															class="elementor-icon-list-text"
															>Honesty, Integrity
															and Transparency</span
														>
													</li>
													<li
														class="elementor-icon-list-item"
													>
														<span
															class="elementor-icon-list-icon"
														>
															<i
																aria-hidden="true"
																class="fas fa-check"
															></i>
														</span>
														<span
															class="elementor-icon-list-text"
															>The Little Stuff is
															just as important as
															the Big Stuff</span
														>
													</li>
												</ul>
											</div>
										</div>
										<div
											class="elementor-element elementor-element-2cbd574 elementor-widget elementor-widget-text-editor"
											data-id="2cbd574"
											data-element_type="widget"
											data-widget_type="text-editor.default"
										>
											<div
												class="elementor-widget-container"
											>
												<p>
													LIFETIME OIL CHANGE
													MEMBERSHIP INCLUDES UP TO 3
													OIL CHANGES PER YEAR –
													FOREVER. BUY THE PACKAGE AND
													NEVER PAY FOR ANOTHER OIL
													CHANGE AGAIN!
												</p>
											</div>
										</div>
										<div
											class="elementor-element elementor-element-018f48d elementor-widget elementor-widget-heading"
											data-id="018f48d"
											data-element_type="widget"
											data-widget_type="heading.default"
										>
											<div
												class="elementor-widget-container"
											>
												<h2
													class="elementor-heading-title elementor-size-default"
												>
													More Perks &amp; Incentives
												</h2>
											</div>
										</div>
										<div
											class="elementor-element elementor-element-f3303f1 elementor-widget elementor-widget-crs_accordian"
											data-id="f3303f1"
											data-element_type="widget"
											data-widget_type="crs_accordian.default"
										>
											<div
												class="elementor-widget-container"
											>
												<div class="faq-accordion">
													<div class="faq__item">
														<div class="faq__title">
															What do lifetime oil
															service packages
															include? <div
																class="icon"
															>
															</div>
														</div>
														<div
															class="faq__content"
														>
															<div
																class="elementskit-card active"
															>
																<div
																	id="Collapse-3d08cc768095854c0aac"
																	class="collapse show"
																	aria-labelledby="primaryHeading-0-bdeb05a"
																	data-parent="#accordion-68095854c0aac"
																>
																	<div
																		class="elementskit-card-body ekit-accordion--content"
																	>
																		<ul>
																			<li>
																				<strong
																					>Oil
																					and
																					Filter</strong
																				>&nbsp;changes
																				using
																				top-tier,
																				OEM-quality
																				products
																				on
																				your
																				vehicle
																				at
																				our
																				recommended
																				service
																				intervals,
																				which
																				are
																				typically
																				half
																				the
																				manufacturer’s
																				scheduled
																				service
																				intervals
																			</li><li
																			>
																				<strong
																					>Fight
																					inflation</strong
																				>&nbsp;–
																				As
																				prices
																				for
																				oil,
																				filters,
																				and
																				labor
																				increase,
																				your
																				cost
																				will
																				stay
																				the
																				same
																				forever
																			</li><li
																			>
																				<strong
																					>Local
																					vehicle
																					pick
																					up
																					&amp;
																					delivery.</strong
																				>&nbsp;Lets
																				us
																				pick
																				up
																				your
																				vehicle
																				from
																				your
																				home
																				or
																				office
																				for
																				service
																				–
																				FREE!
																			</li><li
																			>
																				<strong
																					>Free
																					Loaner
																					Car</strong
																				>&nbsp;while
																				your
																				car
																				is
																				in
																				for
																				service
																				–
																				never
																				be
																				without
																				transportation,
																				we’ve
																				got
																				your
																				covered.
																			</li><li
																			>
																				<strong
																					>Refer</strong
																				>&nbsp;5
																				friends
																				for
																				a
																				lifetime
																				oil
																				service
																				and
																				we’ll
																				give
																				you
																				your
																				money
																				back!
																			</li>
																		</ul>
																	</div>
																</div>
															</div><div
																class="elementskit-card"
															>
																<div
																	id="primaryHeading-1-bdeb05a"
																	class="elementskit-card-header"
																>
																	&nbsp;
																</div>
															</div>
														</div>
													</div>
													<div class="faq__item">
														<div class="faq__title">
															What happens if I
															move away before I'm
															able to see the
															value in the
															service? <div
																class="icon"
															>
															</div>
														</div>
														<div
															class="faq__content"
														>
															<p>
																No problem –
																Either party can
																terminate this
																agreement at any
																time. We’ll
																apply the
																service we’ve
																done at retail
																pricing towards
																the total you
																paid for the
																program and
																refund the
																difference.
															</p>
														</div>
													</div>
													<div class="faq__item">
														<div class="faq__title">
															What about other
															cars in your family? <div
																class="icon"
															>
															</div>
														</div>
														<div
															class="faq__content"
														>
															<p>
																If you have
																multiple
																vehicles in your
																household, we
																will give
																you&nbsp;<strong
																	>20% off</strong
																>&nbsp;the price
																of every
																Lifetime Oil
																Change Package
																you purchase
																after your
																first.
															</p>
														</div>
													</div>
													<div class="faq__item">
														<div class="faq__title">
															What if I sell my
															car? <div
																class="icon"
															>
															</div>
														</div>
														<div
															class="faq__content"
														>
															<p>
																Add value to the
																sale price
																&amp;&nbsp;<strong
																	>transfer
																	the plan!</strong
																>&nbsp;When
																transferred to a
																new Vehicle
																owner, the first
																oil change is
																billed at full
																price, we’ll
																take care of the
																rest.
															</p>
														</div>
													</div>
													<div class="faq__item">
														<div class="faq__title">
															What if I get a new
															car? <div
																class="icon"
															>
															</div>
														</div>
														<div
															class="faq__content"
														>
															<p>
																If you get rid
																of a vehicle
																that you
																purchased a
																Lifetime Oil
																Change Package
																for, we will
																give you&nbsp;<strong
																	>20% off</strong
																>&nbsp;the price
																of a package for
																your next
																vehicle.
															</p><p>
																Each package
																includes 3 oil
																changes per
																year. If you
																require more oil
																changes per
																year, you may
																purchase
																subsequent oil
																changes. An
																appointment is
																required to
																redeem benefits
																of this program.
																The only thing
																you’ll pay for
																each oil service
																is a $13.99
																service charge
																to cover tax,
																disposal, etc.
																Give us a call
																today!
															</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div
									class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-bc2bf33"
									data-id="bc2bf33"
									data-element_type="column"
								>
									<div
										class="elementor-widget-wrap elementor-element-populated"
									>
										<div
											class="elementor-element elementor-element-7d45952 elementor-widget elementor-widget-image"
											data-id="7d45952"
											data-element_type="widget"
											data-widget_type="image.default"
										>
											<div
												class="elementor-widget-container"
											>
												<img
													fetchpriority="high"
													decoding="async"
													width="640"
													height="458"
													src="https://my-mechanic.sfo3.digitaloceanspaces.com/wp-content/uploads/2017/04/18110619/gallery-img-01-1.jpg"
													class="attachment-large size-large wp-image-412"
													alt="Free oil changes in Tucson, AZ"
													srcset="https://my-mechanic.sfo3.digitaloceanspaces.com/wp-content/uploads/2017/04/18110619/gallery-img-01-1.jpg 1000w, https://my-mechanic.sfo3.digitaloceanspaces.com/wp-content/uploads/2017/04/18110619/gallery-img-01-1-600x430.jpg 600w, https://my-mechanic.sfo3.digitaloceanspaces.com/wp-content/uploads/2017/04/18110619/gallery-img-01-1-300x215.jpg 300w, https://my-mechanic.sfo3.digitaloceanspaces.com/wp-content/uploads/2017/04/18110619/gallery-img-01-1-768x550.jpg 768w, https://my-mechanic.sfo3.digitaloceanspaces.com/wp-content/uploads/2017/04/18110619/gallery-img-01-1-686x491.jpg 686w"
													sizes="(max-width: 640px) 100vw, 640px"
												/>
											</div>
										</div>
										<div
											class="elementor-element elementor-element-6236240 elementor-widget elementor-widget-pricing-table"
											data-id="6236240"
											data-element_type="widget"
											data-widget_type="pricing-table.default"
										>
											<div
												class="elementor-widget-container"
											>
												<div
													class="block formatvive-pricing-table"
												>
													<div class="block-title">
														<h2
															class="block-title__title"
														>
															You Pick The Package
															That Works For You
														</h2>
														<div
															class="block-title__description"
														>
														</div>
														<div
															class="title-separator"
														>
														</div>
													</div>
													<div
														class="table-01-wrapper formatvive-pricing-table-wrapper"
													>
														<table
															class="table-01 formatvive-pricing-table"
														>
															<thead>
																<tr>
																	<th
																		>Package</th
																	>
																	<th
																		>Price</th
																	>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td
																		>Semi
																		Synthetic</td
																	>
																	<td>$399</td
																	>
																</tr>
																<tr>
																	<td
																		>Full
																		Synthetic
																		(Amsoil)</td
																	>
																	<td>$599</td
																	>
																</tr>
																<tr>
																	<td
																		>European
																		Cars</td
																	>
																	<td>$699</td
																	>
																</tr>
																<tr>
																	<td
																		>Diesels</td
																	>
																	<td>$999</td
																	>
																</tr>
																<tr>
																	<td
																		>BG Oil
																		&amp;
																		Fuel
																		Additives</td
																	>
																	<td>$299</td
																	>
																</tr>
																<tr>
																	<td
																		>Specialty
																		Cars</td
																	>
																	<td
																		>Please
																		Inquire</td
																	>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
											</div>
										</div>
										<div
											class="elementor-element elementor-element-a4958b2 free-oil-caption elementor-widget elementor-widget-text-editor"
											data-id="a4958b2"
											data-element_type="widget"
											data-widget_type="text-editor.default"
										>
											<div
												class="elementor-widget-container"
											>
												<p>
													*All services include
													inspection and tire
													rotations at no charge. You
													pay $13.99 to cover tax and
													disposal fees, all packages
													are custom built per
													vehicle. For more
													information please <a
														href="/contacts/"
														>contact</a
													> us today.
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
					</div>
				</div>
				<!-- //Block -->
			</div>
		</div><!-- #primary -->
	</div><!-- #pageContent -->
	<!-- Footer -->
</BaseLayout>
