---
// Global footer extracted from WP mirror
import AppointmentForm from "./AppointmentForm.astro";
---

<div class="page-footer page-footer-2">
	<div class="footer-section02">
		<div id="footer-map" class="footer-map">
			<iframe
				src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5793.236590462704!2d-111.003794!3d32.2805198!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86d6740a5b071221%3A0x9acb57e03992ff56!2sMy%20Mechanic%20Maintenance%20%26%20Repair!5e1!3m2!1sen!2sus!4v1767745858974!5m2!1sen!2sus"
				width="100%"
				height="100%"
				style="border:0;"
				allowfullscreen=""
				loading="lazy"
				referrerpolicy="no-referrer-when-downgrade"></iframe>
		</div>
		<div class="container container-tablet-md container-tablet-nogutter">
			<div class="footer-section02__box01">
				<div class="footer-section02__title">Contact Info</div>
				<address class="contact-info-item">
					<div class="item-icon">
						<i class="icon icon-locate"></i>
					</div>
					<div class="item-description">
						4039 N Romero Rd Tucson, AZ 85705
					</div>
				</address>
				<address class="contact-info-item">
					<div class="item-icon">
						<i class="icon icon-phone"></i>
					</div>
					<div class="item-description">1-520-904-8551</div>
				</address>
				<address class="contact-info-item">
					<div class="item-icon">
						<i class="icon icon-email"></i>
					</div>
					<div class="item-description">
						<a
							href="mailto:support@mymechanicarizona.com"
							><span
								class="__cf_email__"
								data-cfemail="e794929797889593a78a9e8a82848f86898e8486958e9d888986c984888a"
								>support@mymechanicarizona.com</span
							></a
						>
					</div>
				</address>
				<div class="footer-section02__title">Opening Hours</div>
				<address class="contact-info-item">
					<div class="item-icon">
						<i class="icon icon-clock"></i>
					</div>
					<div class="item-description">
						Mon-Fri: <span>8:00 AM - 5:00 PM</span><br /> Saturday: <span
							>Closed</span
						><br /> Sunday: <span>Closed</span>
					</div>
				</address>
			</div>
		</div>
	</div>
	<div class="footer-section03">
		<div class="container container-tablet-md">
			<div class="copyright">
				© 2023 My Mechanic, <span class="clearfix visible-xs"></span>All
				Rights Reserved
			</div>
			<div class="footer-bottom-right">
				<div class="social-links">
					<ul>
						<li>
							<a
								class="icon icon-facebook-logo"
								target="_blank"
								href="https://www.facebook.com/MyMechanicTucson"
							></a>
						</li>

						<li>
							<a
								class="icon icon-google-plus-logo"
								target="_blank"
								href="https://www.google.com/maps/place/My+Mechanic+Maintenance+%26+Repair/@32.2805035,-111.0037826,15z/data=!4m6!3m5!1s0x86d6740a5b071221:0x9acb57e03992ff56!8m2!3d32.2805035!4d-111.0037826!16s%2Fg%2F1hhxddbp5"
							></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="back-to-top" style="bottom: 15px;">
	<a href="#top">
		<span class="icon icon-arrow_up"></span>
	</a>
</div>
<div class="modal fade" id="appointmentForm">
	<div class="modal-dialog container">
		<div class="modal-content">
			<div class="modal-header">
				<a
					href="#"
					class="appointment"
					data-toggle="modal"
					data-target="#appointmentForm"
					><i class="icon-shape icon"></i>
					<span>Appointment</span>
				</a>
				<button
					type="button"
					class="close"
					data-dismiss="modal"
					aria-label="Close"><i class="icon-close"></i></button
				>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<h2 class="modal-title-main">
						Schedule <span class="color">Auto Service</span>
					</h2>
					To schedule an appointment give us a call at 1-520-904-8551 or
					fill out the form below with your information and requested services.
					We will get back to you with a confirmation. <div
						class="divider divider-sm"
					>
					</div>
					<AppointmentForm />
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="couponForm">
	<div class="modal-dialog container">
		<div class="modal-content">
			<div class="modal-header">
				<button
					type="button"
					class="close"
					data-dismiss="modal"
					aria-label="Close"
					><span aria-hidden="true">&times;</span></button
				>
				<h4 class="modal-title" id="myModalLabel">Coupon</h4>
			</div>
			<div class="modal-body"></div>
			<div class="modal-footer">
				<button
					type="button"
					id="btn_save_close"
					class="btn btn-default"
					data-dismiss="modal"><span>Close</span></button
				>
				<button
					id="btn_save_and_close_for_ele"
					type="button"
					class="btn btn-primary"><span>Print </span></button
				>
			</div>
		</div>
	</div>
</div><script>
	(function () {
		const style = document.createElement("style");
		style.appendChild(
			document.createTextNode(
				"#frm_field_107_container,#frm_field_108_container {visibility:hidden;overflow:hidden;width:0;height:0;position:absolute;}",
			),
		);
		document.head.appendChild(style);
		document.currentScript	})();
</script><script type="speculationrules">
	{
		"prefetch": [
			{
				"source": "document",
				"where": {
					"and": [
						{ "href_matches": "/*" },
						{
							"not": {
								"href_matches": [
									"/wp-*.php",
									"/wp-admin/*",
									"/wp-content/uploads/*",
									"/wp-content/*",
									"/wp-content/plugins/*",
									"/wp-content/themes/car-repair-services-child/*",
									"/wp-content/themes/car-repair-services/*",
									"/*\\"
								]
							}
						},
						{
							"not": {
								"selector_matches": "a[rel~=\"nofollow\"]"
							}
						},
						{
							"not": {
								"selector_matches": ".no-prefetch, .no-prefetch a"
							}
						}
					]
				},
				"eagerness": "conservative"
			}
		]
	}
</script>
<script>
	const lazyloadRunObserver = () => {
		const lazyloadBackgrounds = document.querySelectorAll(
			`.e-con.e-parent:not(.e-lazyloaded)`,
		);
		const lazyloadBackgroundObserver = new IntersectionObserver(
			(entries) => {
				entries.forEach((entry) => {
					if (entry.isIntersecting) {
						let lazyloadBackground = entry.target;
						if (lazyloadBackground) {
							lazyloadBackground.classList.add("e-lazyloaded");
						}
						lazyloadBackgroundObserver.unobserve(entry.target);
					}
				});
			},
			{ rootMargin: "200px 0px 200px 0px" },
		);
		lazyloadBackgrounds.forEach((lazyloadBackground) => {
			lazyloadBackgroundObserver.observe(lazyloadBackground);
		});
	};
	const events = ["DOMContentLoaded", "elementor/lazyload/observe"];
	events.forEach((event) => {
		document.addEventListener(event, lazyloadRunObserver);
	});
</script>
<script type="text/javascript">
	(function () {
		var c = document.body.className;
		c = c.replace(/woocommerce-no-js/, "woocommerce-js");
		document.body.className = c;
	})();
</script>
<link
	rel="stylesheet"
	id="wc-blocks-style-css"
	href="/wp-content/plugins/woocommerce/assets/client/blocks/wc-blocks.css"
	type="text/css"
	media="all"
/>
<link
	rel="stylesheet"
	id="elementor-post-2294-css"
	href="/wp-content/uploads/elementor/css/post-2294.css"
	type="text/css"
	media="all"
/>
<link
	rel="stylesheet"
	id="elementor-post-2311-css"
	href="/wp-content/uploads/elementor/css/post-2311.css"
	type="text/css"
	media="all"
/>
<link
	rel="stylesheet"
	id="elementor-post-2307-css"
	href="/wp-content/uploads/elementor/css/post-2307.css"
	type="text/css"
	media="all"
/>
<link
	rel="stylesheet"
	id="elementor-post-2303-css"
	href="/wp-content/uploads/elementor/css/post-2303.css"
	type="text/css"
	media="all"
/>
<link
	rel="stylesheet"
	id="elementor-post-3027-css"
	href="/wp-content/uploads/elementor/css/post-3027.css"
	type="text/css"
	media="all"
/>
<link
	rel="stylesheet"
	id="elementor-icons-shared-0-css"
	href="/wp-content/plugins/elementor/assets/lib/font-awesome/css/fontawesome.min.css"
	type="text/css"
	media="all"
/>
<link
	rel="stylesheet"
	id="elementor-icons-fa-solid-css"
	href="/wp-content/plugins/elementor/assets/lib/font-awesome/css/solid.min.css"
	type="text/css"
	media="all"
/>
<link
	rel="stylesheet"
	id="jquery-theme-css"
	href="/wp-content/plugins/formidable-pro/css/ui-lightness/jquery-ui.css"
	type="text/css"
	media="all"
/>
<script
	type="text/javascript"
	src="/wp-content/plugins/car-repair-services-core/car-repair-addons/assets/js/addons-custom.js"
	id="addons-custom-js"></script>
<script
	type="text/javascript"
	src="/wp-content/plugins/car-repair-services-core/car-repair-addons/assets/js/team-carousel.js"
	id="team-carousel-js"></script>
<script
	type="text/javascript"
	src="/wp-content/plugins/car-repair-services-core/car-repair-addons/assets/js/service-gallery.js"
	id="service-gallery-js"></script>
<script
	type="module"
	src="/wp-content/plugins/all-in-one-seo-pack/dist/Lite/assets/table-of-contents.95d0dfce.js"
	id="aioseo/js/src/vue/standalone/blocks/table-of-contents/frontend.js-js"
></script>
<script
	type="text/javascript"
	src="/wp-content/plugins/woocommerce/assets/js/sourcebuster/sourcebuster.min.js"
	id="sourcebuster-js-js"></script>
<script type="text/javascript" id="wc-order-attribution-js-extra">
	/* <![CDATA[ */
	var wc_order_attribution = {
		params: {
			lifetime: 1.0e-5,
			session: 30,
			base64: false,
			ajaxurl: "/wp-admin/admin-ajax.php",
			prefix: "wc_order_attribution_",
			allowTracking: true,
		},
		fields: {
			source_type: "current.typ",
			referrer: "current_add.rf",
			utm_campaign: "current.cmp",
			utm_source: "current.src",
			utm_medium: "current.mdm",
			utm_content: "current.cnt",
			utm_id: "current.id",
			utm_term: "current.trm",
			utm_source_platform: "current.plt",
			utm_creative_format: "current.fmt",
			utm_marketing_tactic: "current.tct",
			session_entry: "current_add.ep",
			session_start_time: "current_add.fd",
			session_pages: "session.pgs",
			session_count: "udata.vst",
			user_agent: "udata.uag",
		},
	};
	//# sourceURL=wc-order-attribution-js-extra
	/* ]]> */
</script>
<script
	type="text/javascript"
	src="/wp-content/plugins/woocommerce/assets/js/frontend/order-attribution.min.js"
	id="wc-order-attribution-js"></script>
<script
	type="text/javascript"
	src="/wp-content/plugins/elementor/assets/js/webpack.runtime.min.js"
	id="elementor-webpack-runtime-js"></script>
<script
	type="text/javascript"
	src="/wp-content/plugins/elementor/assets/js/frontend-modules.min.js"
	id="elementor-frontend-modules-js"></script>
<script
	type="text/javascript"
	src="/wp-includes/js/jquery/ui/core.min.js"
	id="jquery-ui-core-js"></script>
<script type="text/javascript" id="elementor-frontend-js-before">
	/* <![CDATA[ */
	var elementorFrontendConfig = {
		environmentMode: {
			edit: false,
			wpPreview: false,
			isScriptDebug: false,
		},
		i18n: {
			shareOnFacebook: "Share on Facebook",
			shareOnTwitter: "Share on Twitter",
			pinIt: "Pin it",
			download: "Download",
			downloadImage: "Download image",
			fullscreen: "Fullscreen",
			zoom: "Zoom",
			share: "Share",
			playVideo: "Play Video",
			previous: "Previous",
			next: "Next",
			close: "Close",
			a11yCarouselPrevSlideMessage: "Previous slide",
			a11yCarouselNextSlideMessage: "Next slide",
			a11yCarouselFirstSlideMessage: "This is the first slide",
			a11yCarouselLastSlideMessage: "This is the last slide",
			a11yCarouselPaginationBulletMessage: "Go to slide",
		},
		is_rtl: false,
		breakpoints: { xs: 0, sm: 480, md: 768, lg: 1025, xl: 1440, xxl: 1600 },
		responsive: {
			breakpoints: {
				mobile: {
					label: "Mobile Portrait",
					value: 767,
					default_value: 767,
					direction: "max",
					is_enabled: true,
				},
				mobile_extra: {
					label: "Mobile Landscape",
					value: 880,
					default_value: 880,
					direction: "max",
					is_enabled: false,
				},
				tablet: {
					label: "Tablet Portrait",
					value: 1024,
					default_value: 1024,
					direction: "max",
					is_enabled: true,
				},
				tablet_extra: {
					label: "Tablet Landscape",
					value: 1200,
					default_value: 1200,
					direction: "max",
					is_enabled: false,
				},
				laptop: {
					label: "Laptop",
					value: 1366,
					default_value: 1366,
					direction: "max",
					is_enabled: false,
				},
				widescreen: {
					label: "Widescreen",
					value: 2400,
					default_value: 2400,
					direction: "min",
					is_enabled: false,
				},
			},
			hasCustomBreakpoints: false,
		},
		version: "3.34.0",
		is_static: false,
		experimentalFeatures: {
			additional_custom_breakpoints: true,
			home_screen: true,
			global_classes_should_enforce_capabilities: true,
			e_variables: true,
			"cloud-library": true,
			e_opt_in_v4_page: true,
			e_interactions: true,
			"import-export-customization": true,
		},
		urls: {
			assets: "https:\/\/mymechanicarizona.com\/wp-content\/plugins\/elementor\/assets\/",
			ajaxurl:
				"https:\/\/mymechanicarizona.com\/wp-admin\/admin-ajax.php",
			uploadUrl: "https:\/\/mymechanicarizona.com\/wp-content\/uploads",
		},
		nonces: { floatingButtonsClickTracking: "1c2a0cc848" },
		swiperClass: "swiper",
		settings: { page: [], editorPreferences: [] },
		kit: {
			active_breakpoints: ["viewport_mobile", "viewport_tablet"],
			global_image_lightbox: "yes",
			lightbox_enable_counter: "yes",
			lightbox_enable_fullscreen: "yes",
			lightbox_enable_zoom: "yes",
			lightbox_enable_share: "yes",
			lightbox_title_src: "title",
			lightbox_description_src: "description",
		},
		post: {
			id: 56,
			title: "Home%20-%20My%20Mechanic",
			excerpt: "",
			featuredImage: false,
		},
	};
	//# sourceURL=elementor-frontend-js-before
	/* ]]> */
</script>
<script
	type="text/javascript"
	src="/wp-content/plugins/elementor/assets/js/frontend.min.js"
	id="elementor-frontend-js"></script>
<script
	type="text/javascript"
	src="/wp-content/themes/car-repair-services/js/plugins/bootstrap.min.js"
	id="bootstrap-js"></script>
<script
	type="text/javascript"
	src="/wp-content/themes/car-repair-services/js/plugins/slick.min.js"
	id="slick-js"></script>
<script
	type="text/javascript"
	src="/wp-includes/js/dist/vendor/moment.min.js"
	id="moment-js"></script>
<script type="text/javascript" id="moment-js-after">
	/* <![CDATA[ */
	moment.updateLocale("en_US", {
		months: [
			"January",
			"February",
			"March",
			"April",
			"May",
			"June",
			"July",
			"August",
			"September",
			"October",
			"November",
			"December",
		],
		monthsShort: [
			"Jan",
			"Feb",
			"Mar",
			"Apr",
			"May",
			"Jun",
			"Jul",
			"Aug",
			"Sep",
			"Oct",
			"Nov",
			"Dec",
		],
		weekdays: [
			"Sunday",
			"Monday",
			"Tuesday",
			"Wednesday",
			"Thursday",
			"Friday",
			"Saturday",
		],
		weekdaysShort: ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"],
		week: { dow: 1 },
		longDateFormat: {
			LT: "g:i a",
			LTS: null,
			L: null,
			LL: "F j, Y",
			LLL: "F j, Y g:i a",
			LLLL: null,
		},
	});
	//# sourceURL=moment-js-after
	/* ]]> */
</script>
<script
	type="text/javascript"
	src="/wp-content/themes/car-repair-services/js/plugins/bootstrap-datetimepicker.min.js"
	id="bootstrap-datetimepicker-js"></script>
<script
	type="text/javascript"
	src="/wp-content/themes/car-repair-services/js/plugins/jquery.magnific-popup.min.js"
	id="magnific-popup-js"></script>
<script
	type="text/javascript"
	src="/wp-content/themes/car-repair-services/js/plugins/imagesloaded.pkgd.min.js"
	id="imagesloaded-pkg-js"></script>
<script
	type="text/javascript"
	src="/wp-content/themes/car-repair-services/js/plugins/jquery.scrolling-tabs.min.js"
	id="scrolling-tabs-js"></script>
<script
	type="text/javascript"
	src="/wp-includes/js/jquery/ui/controlgroup.min.js"
	id="jquery-ui-controlgroup-js"></script>
<script
	type="text/javascript"
	src="/wp-includes/js/jquery/ui/checkboxradio.min.js"
	id="jquery-ui-checkboxradio-js"></script>
<script
	type="text/javascript"
	src="/wp-includes/js/jquery/ui/button.min.js"
	id="jquery-ui-button-js"></script>
<script
	type="text/javascript"
	src="/wp-includes/js/jquery/ui/spinner.min.js"
	id="jquery-ui-spinner-js"></script>
<script type="text/javascript" id="forms-js-extra">
	/* <![CDATA[ */
	var tooltip_object = {
		today: "Go to today",
		clear: "Clear selection",
		close: "Close the picker",
		selectMonth: "Select Month",
		prevMonth: "Previous Month",
		nextMonth: "Next Month",
		selectYear: "Select Year",
		prevYear: "Previous Year",
		nextYear: "Next Year",
		selectDecade: "Select Decade",
		prevDecade: "Previous Decade",
		nextDecade: "Next Decade",
		prevCentury: "Previous Century",
		nextCentury: "Next Century",
		pickHour: "Pick Hour",
		incrementHour: "Increment Hour",
		decrementHour: "Decrement Hour",
		pickMinute: "Pick Minute",
		incrementMinute: "Increment Minute",
		decrementMinute: "Decrement Minute",
		pickSecond: "Pick Second",
		incrementSecond: "Increment Second",
		decrementSecond: "Decrement Second",
		togglePeriod: "Toggle Period",
		selectTime: "Select Time",
	};
	var form_option = { date_format: "MM/DD/YYYY" };
	//# sourceURL=forms-js-extra
	/* ]]> */
</script>
<script
	type="text/javascript"
	src="/wp-content/themes/car-repair-services/js/forms.js"
	id="forms-js"></script>
<script
	type="text/javascript"
	src="/wp-content/themes/car-repair-services/js/plugins/jquery.event.move.js"
	id="jquery-event-move-js"></script>
<script
	type="text/javascript"
	src="/wp-content/themes/car-repair-services/js/plugins/jquery.twentytwenty.js"
	id="jquery-twentytwenty-js"></script>
<script
	type="text/javascript"
	src="/wp-content/themes/car-repair-services/js/plugins/perfect-scrollbar.min.js"
	id="perfect-scrollbar-js"></script>
<script
	type="text/javascript"
	src="/wp-content/themes/car-repair-services/js/plugins/nouislider.min.js"
	id="nouislider-js-js"></script>
<script
	type="text/javascript"
	src="/wp-content/themes/car-repair-services/js/plugins/panelmenu.js"
	id="panelmenu-js"></script>
<script
	type="text/javascript"
	src="/wp-content/themes/car-repair-services/js/plugins/isotope.pkgd.min.js"
	id="isotope-pkgd-js"></script>
<script type="text/javascript" id="custom-js-extra">
	/* <![CDATA[ */
	var ajax_object = {
		ajax_nonce_cart: "e7e5190ffd",
		ajax_nonce_post: "f35ca7fca2",
		ajax_nonce_coupon: "1b0578860e",
		ajax_nonce_testimonial: "cf955512e2",
		ajax_nonce_gallery: "764cb1a97c",
		ajax_url: "/wp-admin/admin-ajax.php",
		loader_img:
			"/wp-content/themes/car-repair-services/images/ajax-loader.gif",
		site_preloader_timeout: "500",
	};
	var ajax_slickslider = {
		autoplay: "false",
		autoplay_speed: "7000",
		arrows: "false",
		dots: "false",
		fade: "false",
		speed: "500",
		pause_on_hover: "false",
		pause_on_dots_hover: "false",
	};
	//# sourceURL=custom-js-extra
	/* ]]> */
</script>
<script
	type="text/javascript"
	src="/wp-content/themes/car-repair-services/js/custom-2.js"
	id="custom-js"></script>
<script type="text/javascript" id="formidable-js-extra">
	/* <![CDATA[ */
	var frm_js = {
		ajax_url: "/wp-admin/admin-ajax.php",
		images_url: "/wp-content/plugins/formidable/images",
		loading: "Loading\u2026",
		remove: "Remove",
		offset: "4",
		nonce: "16f32b5e33",
		id: "ID",
		no_results: "No results match",
		file_spam: "That file looks like Spam.",
		calc_error:
			"There is an error in the calculation in the field with key",
		empty_fields:
			"Please complete the preceding required fields before uploading a file.",
		focus_first_error: "1",
		include_alert_role: "1",
		include_resend_email: "",
	};
	var frm_password_checks = {
		"eight-char": {
			label: "Eight characters minimum",
			regex: "/^.{8,}$/",
			message: "Passwords require at least 8 characters",
		},
		lowercase: {
			label: "One lowercase letter",
			regex: "#[a-z]+#",
			message: "Passwords must include at least one lowercase letter",
		},
		uppercase: {
			label: "One uppercase letter",
			regex: "#[A-Z]+#",
			message: "Passwords must include at least one uppercase letter",
		},
		number: {
			label: "One number",
			regex: "#[0-9]+#",
			message: "Passwords must include at least one number",
		},
		"special-char": {
			label: "One special character",
			regex: "/(",
			message: "password is invalid",
		},
	};
	//# sourceURL=formidable-js-extra
	/* ]]> */
</script>
<script
	type="text/javascript"
	src="/wp-content/plugins/formidable-pro/js/frm.min.js"
	id="formidable-js"></script>
<script
	type="text/javascript"
	defer="defer"
	async="async"
	src="https://www.google.com/recaptcha/api.js"
	id="captcha-api-js"></script>
<script
	type="text/javascript"
	src="/wp-includes/js/jquery/ui/datepicker.min.js"
	id="jquery-ui-datepicker-js"></script>
<script>
	/*<![CDATA[*/
	var frmrules = {
		"27": {
			fieldId: "27",
			fieldKey: "tn0xg",
			fieldType: "checkbox",
			inputType: "checkbox",
			isMultiSelect: false,
			formId: "3",
			inSection: "22",
			inEmbedForm: "0",
			isRepeating: false,
			dependents: ["9", "13", "16", "28"],
			showHide: "show",
			anyAll: "any",
			conditions: [],
		},
		"9": {
			fieldId: "9",
			fieldKey: "ospp1",
			fieldType: "lookup",
			inputType: "select",
			isMultiSelect: false,
			formId: "3",
			inSection: "22",
			inEmbedForm: "0",
			isRepeating: false,
			dependents: [],
			showHide: "hide",
			anyAll: "any",
			conditions: [{ fieldId: "27", operator: "==", value: "Yes" }],
			status: "complete",
		},
		"13": {
			fieldId: "13",
			fieldKey: "jr7jc",
			fieldType: "lookup",
			inputType: "select",
			isMultiSelect: false,
			formId: "3",
			inSection: "22",
			inEmbedForm: "0",
			isRepeating: false,
			dependents: [],
			showHide: "hide",
			anyAll: "any",
			conditions: [{ fieldId: "27", operator: "==", value: "Yes" }],
			status: "complete",
		},
		"16": {
			fieldId: "16",
			fieldKey: "fwpmx",
			fieldType: "lookup",
			inputType: "select",
			isMultiSelect: false,
			formId: "3",
			inSection: "22",
			inEmbedForm: "0",
			isRepeating: false,
			dependents: [],
			showHide: "hide",
			anyAll: "any",
			conditions: [{ fieldId: "27", operator: "==", value: "Yes" }],
			status: "complete",
		},
		"28": {
			fieldId: "28",
			fieldKey: "u1ohh",
			fieldType: "textarea",
			inputType: "textarea",
			isMultiSelect: false,
			formId: "3",
			inSection: "22",
			inEmbedForm: "0",
			isRepeating: false,
			dependents: [],
			showHide: "show",
			anyAll: "any",
			conditions: [{ fieldId: "27", operator: "==", value: "Yes" }],
			status: "complete",
		},
	};
	const _frmrulesExisting = window.__FRMRULES;
	if (typeof _frmrulesExisting === "undefined") {
		window.__FRMRULES = frmrules;
	} else {
		window.__FRMRULES = jQuery.extend({}, _frmrulesExisting, frmrules);
	}
	window.__FRMLOOKUP = {
		"9": {
			dependents: ["13", "16"],
			fieldId: "9",
			fieldKey: "ospp1",
			parents: [],
			fieldType: "lookup",
			formId: "3",
			inSection: "22",
			inEmbedForm: "0",
			isRepeating: false,
			isMultiSelect: false,
			isReadOnly: false,
			inputType: "select",
		},
		"13": {
			dependents: ["16"],
			fieldId: "13",
			fieldKey: "jr7jc",
			parents: ["9"],
			fieldType: "lookup",
			formId: "3",
			inSection: "22",
			inEmbedForm: "0",
			isRepeating: false,
			isMultiSelect: false,
			isReadOnly: false,
			inputType: "select",
		},
		"16": {
			dependents: [],
			fieldId: "16",
			fieldKey: "fwpmx",
			parents: ["9", "13"],
			fieldType: "lookup",
			formId: "3",
			inSection: "22",
			inEmbedForm: "0",
			isRepeating: false,
			isMultiSelect: false,
			isReadOnly: false,
			inputType: "select",
		},
	};
	var frmHide = ["9", "13", "16", "28"];
	const _frmHideExisting = window.__frmHideOrShowFields;
	window.__frmHideOrShowFields = Array.isArray(_frmHideExisting)
		? _frmHideExisting.concat(frmHide)
		: frmHide;
	var frmDates = [
		{
			triggerID: "#field_fm2dt",
			locale: "",
			options: {
				dateFormat: "mm\/dd\/yy",
				changeMonth: "true",
				changeYear: "true",
				yearRange: "2016:2036",
				defaultDate: "",
				beforeShowDay: null,
			},
			customOptions: "",
		},
	];
	if (typeof window.__frmDatepicker == "undefined") {
		window.__frmDatepicker = frmDates;
	} else {
		window.__frmDatepicker = jQuery.extend(window.__frmDatepicker, frmDates);
	}
	window.__frmDepLookupFields = [13, 16];
	window.__frmDropzone = [
		{
			maxFilesize: 67.11,
			maxFiles: 99,
			htmlID: "file17",
			label: "field_djuda",
			uploadMultiple: true,
			fieldID: "17",
			formID: "3",
			parentFormID: "3",
			fieldName: "item_meta[17]",
			mockFiles: [],
			defaultMessage: "Drop files here to upload",
			fallbackMessage:
				"Your browser does not support drag and drop file uploads.",
			fallbackText:
				"Please use the fallback form below to upload your files like in the olden days.",
			fileTooBig:
				"That file is too big. It must be less than {{maxFilesize}}MB.",
			invalidFileType: "Sorry, this file type is not permitted.",
			responseError: "Server responded with {{statusCode}} code.",
			cancel: "Cancel upload",
			cancelConfirm: "Are you sure you want to cancel this upload?",
			remove: "Remove file",
			maxFilesExceeded: "You have uploaded more than 99 file(s).",
			resizeHeight: null,
			resizeWidth: null,
			timeout: 600000,
			checkHoneypot: false,
			acceptedFiles:
				"image\/jpeg,image\/png,image\/gif,.jpg,.jpeg,.jpe,.png,.gif",
		},
	]; /*]]>*/
</script>
<div class="modal fade modalform-sm" id="fullServices">
	<div class="modal-dialog container">
		<div class="modal-content">
			<div class="modal-header">
				<h2>Select Service</h2>
				<button
					type="button"
					class="close"
					data-dismiss="modal"
					aria-label="Close"><i class="icon-close-cross"></i></button
				>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<form
						class="estimate_search"
						autocomplete="off"
						action="/estimateresult/result"
						method="GET"
						role="search"
					>
						<div class="row service-modal-row"></div>
						<input id="mk" type="hidden" name="make" />
						<input id="md" type="hidden" name="model" />
						<input id="yr" type="hidden" name="the_year" />
						<div class="tt-item">
							<input
								placeholder="State, Zip, Town"
								type="hidden"
								name="s"
							/>
						</div>
						<div class="modal-footer">
							<button
								class="btn btn-border btn-invert"
								type="submit"
								id="estimatorSubmitModal"
								><span>GET ESTIMATE</span></button
							>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Cookie Notice plugin v2.5.11 by Hu-manity.co https://hu-manity.co/ -->
<div
	id="cookie-notice"
	role="dialog"
	class="cookie-notice-hidden cookie-revoke-hidden cn-position-bottom"
	aria-label="Cookie Notice"
	style="background-color: rgba(50,50,58,1);"
>
	<div class="cookie-notice-container" style="color: #fff">
		<span id="cn-notice-text" class="cn-text-container"
			>We use cookies to ensure that we give you the best experience on
			our website. If you continue to use this site we will assume that
			you are happy with it.</span
		><span id="cn-notice-buttons" class="cn-buttons-container"
			><button
				id="cn-accept-cookie"
				data-cookie-set="accept"
				class="cn-set-cookie cn-button"
				aria-label="Ok"
				style="background-color: #d5a632">Ok</button
			><button
				id="cn-refuse-cookie"
				data-cookie-set="refuse"
				class="cn-set-cookie cn-button"
				aria-label="No"
				style="background-color: #d5a632">No</button
			></span
		><button
			type="button"
			id="cn-close-notice"
			data-cookie-set="accept"
			class="cn-close-icon"
			aria-label="No"></button>
	</div>
</div>
<!-- / Cookie Notice plugin -->
